@media screen {
	.box-bg:hover {
		background-color: #87CEFA;
	}
	.box-bg .tm-section-title:hover {
		color: #FFFFFF;
		font-weight: 500;
	}
	p:first-letter {
		color: #87CEFA;
		font-size: 30px;
	}
	.container section, #home, .tm-sidebar {
		box-shadow: 0px 0px 10px 2px #a7a7a7;
	}
	.tm-banner {
		background-color: #F5F5F5;
	}
	.tm-banner-inner {
		background-color: #FFFFFF;
	}
	section::before {
		content: "";
		width: 0;
		height: 0;
		border-top: 36px solid #87CEFA;
		border-right: 255px solid transparent;
	}
	.carousel-content .tm-section-title {
		color: #DCDCDC;
		letter-spacing: 5px;
	}
	h2+p {
		font-style: italic;
	}
	.tm-section-description {
		text-indent: 25px;
		line-height: 30px;
	}
	.padding-medium a {
		color: #000000;
	}
	.padding-medium a:visited {
		text-decoration-line: underline;
	}
	.padding-medium a:hover {
		text-decoration-line: underline;
		text-decoration-style: double;
		color: #87CEFA;
	}
	.text::after {
		content: "New";
		position: absolute;
		font-size: 10px;
		color: #FF0000;
	}
	.box-work p {
		text-indent: 0;
		line-height: 25px;
	}
	.box-work p:first-letter {
		color: #808080;
	}
	.box-work {
		padding: 8px;
	}
	.box-work:nth-child(even) {
		background-color: #f2f2f2;
	}
	.submit-btn {
		float: right;
		color: #87CEFA;
		background-color: transparent;
		background-image: none;
		border-color: #87CEFA;
		border-radius: 0;
		padding: 14px 59px;
		font-size: 1.4rem;
		font-weight: 300;
	}
	.submit-btn:hover {
		background-color: #87CEFA;
		color: #ffffff;
		border-color: #61c2ff;
		border-radius: 0;
	}
	.mandatory-field::after {
		content: "*";
		color: red;
		font-weight: bold;
	}
	.tm-nav-item:hover {
		background-color: #f6f6f6;
	}
}
@media print {
	body {
		background-color: #ffffff;
	}
	.tm-sidebar, #about, .heading, .blocks, #ideas, .img-contact-us, #contact {
		display: none;
	}
	p::first-letter {
		color: #5facc4;
		font-size: 30px;
	}
	.tm-banner-inner {
		width: 500px;
		margin: 0 auto;
		padding: 40px 0px;
		border: 2px solid #e7e7e7;
	}
	.flex-2-col {
		margin: 0 auto;
		width: 550px;
	}
	.padding-medium {
		width: 360px;
		padding-top: 0px;
		margin-left: 10px;
	}
	.flex-item img {
		width: 190px;
	}
	.padding-medium h2 {
		color: #3836ff;
		font-weight: 400;
	}
	.padding-medium p {
		text-indent: 20px;
		line-height: 30px;
	}
	.tm-section-title {
		margin-bottom: 25px;
	}
	.padding-medium p:first-of-type {
		font-style: italic;
	}
	.tm-content-box {
		margin-bottom: 0px;
	}
	.tm-footer {
		margin-top: -10px;
	}
}
@media screen, print {
	.flex-2-col {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}