$contentBackground: #fff;
$headerBackground: (url(../img/header_background_v1.jpg) no-repeat top/cover);
$articleBackground: #efefef;
$headerTitleColor: #ffffff;
$contentTitleColor: #0097a7;
$contentDescriptionColor: red;
$contentTextColor: #010f16;
$borderColor: #607d8b;
$buttonColor: #01acac;
$labelColor: #0097a7;
$sectionTitleColor: #010f16;
$header1FontSize: 24px;
$header3FontSize: 18px;
$header1LetterSpacing: -0.035em;
$contentFontSize: 15px;
$contentLetterSpacing: -0.01em;
$bodyFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$contentFormFont :normal 300 14px/23px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;

