$contentBackground: #efefef;
$headerBackground: (url(../img/header_background_v2.jpg) no-repeat top/cover);
$articleBackground: #fff;
$headerTitleColor: #ff5722;
$contentTitleColor: #607d8b;
$contentDescriptionColor: #bdbdbd;
$contentTextColor: #757575;
$borderColor: #cfd8dc;
$buttonColor: #0401ac;
$labelColor: #607d8b;
$sectionTitleColor: #757575;
$header1FontSize: 27px;
$header3FontSize: 21px;
$header1LetterSpacing: 0em;
$contentFontSize: 18px;
$contentLetterSpacing: 0em;
$bodyFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$contentFormFont :normal 300 14px/23px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;