* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Tahoma", sans-serif;
  background-color: #fff;
  color: #000;
}
#root {
  width: 755px;
  border: 1px solid #000;
  margin: 40px auto;
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  padding: 20px 0;
}
.material-icons {
  font-size: 36px;
}
.adder {
  position: relative;
  width: 690px;
  margin: 0px auto;
  display: block;
  padding-bottom: 30px;
}
.adder ::-webkit-input-placeholder {
  color: #cecece;
}
.adder .input {
  outline: none;
  border: 1px solid #000;
  background-color: #ffffff;
  color: #000;
  height: 30px;
  width: 620px;
  padding-left: 10px;
  font-size: 16px;
}
.adder i {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #000;
}
hr {
  height: 2px;
  color: #000;
  background: #000;
  border: 0;
  margin: 0px 33px 25px 15px;
}
ul {
  padding: 0px;
}
ul .draggable {
  will-change: transform;
  height: 40px;
  list-style-type: none;
  margin: 10px;
  color: #000000;
  width: 650px;
  line-height: 2.4;
  padding-left: 40px;
  transition: all 200ms;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
ul .draggable:hover:after {
  opacity: 1;
  transform: translate(0);
}
.over {
  transform: scale(1.1, 1.1);
}
.checkbox {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 3px;
}
.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
p {
  text-align: center;
  padding-bottom: 10px;
}
.logo {
  text-align: center;
  padding: 40px 0 5px;
}
.logo img {
  width: 80px;
  height: auto;
}